{% comment %}

  This snippet is used to showcase each product during the loop,
  'for product in collection.products' in collection.liquid.

  A liquid variable (grid_item_width) is set just before the this
  snippet is included to change the size of the container.
  Once the variable is set on a page, all future instances of this
  snippet will use that width. Overwrite the variable to adjust this.

  Example
    - assign grid_item_width = 'large--one-quarter medium--one-half'

{% endcomment %}

{% comment %}
  Set the default grid_item_width if no variable is set
{% endcomment %}
{% unless grid_item_width %}
  {% assign grid_item_width = 'large--one-third medium--one-half' %}
{% endunless %}

{% comment %}
  Check if the product is on sale and set a variable to be used below.
{% endcomment %}
{% assign on_sale = false %}
{% if product.compare_at_price > product.price %}
  {% assign on_sale = true %}
{% endif %}

{% comment %}
  Check if the product is sold out and set a variable to be used below.
{% endcomment %}
{% assign sold_out = true %}
{% if product.available  %}
  {% assign sold_out = false %}
{% endif %}

{% comment %}
  Set a class for sold-out and on-sale items
{% endcomment %}

<article class="collection-item {% if sold_out %} collection-item--sold-out{% endif %}{% if on_sale %} collection-item--on-sale{% endif %}">
  <div class="collection-item__image">
    <a href="{{ product.url | within: collection }}" class="">
      <img src="{{ product.featured_image.src | product_img_url: 'compact' }}" alt="{{ product.featured_image.alt | escape }}">
    </a>
  </div>

  <h2 class="h6 collection-item__title"><a href="{{ product.url | within: collection }}">{{ product.title }}</a></h2>
  <p class="item-price">
     <span class="item-price__price">

      {% comment %}
        You can show a leading 'from' or 'up to' by checking 'product.price_varies'
        if your variants have different prices.
      {% endcomment %}
      {% if product.price_varies %}From{% endif %}

      {{ product.price | money_with_currency }}
    </span>
    {% if on_sale %}
      <del class="item-price__on-sale"> {{ product.compare_at_price | money_with_currency }}</del>
    {% endif %}
    {% if sold_out %}
      <strong>Sold Out</strong>
    {% endif %}
  </p>
  {% if on_sale %}
    <div class="collection-item__on-sale-banner">on sale</div>
  {% endif %}
</article>
