<header class="site-header" role="banner">
  {% comment %}
    If customer accounts are enabled, provide login and create account links
  {% endcomment %}
  {% if shop.customer_accounts_enabled %}
    {% include 'top-bar' %}
  {% endif %}
  <div class="wrapper">

    <div class="grid--full">
      <div class="grid-item large--one-half">
        <h1 class="header-logo large--left">
          {% if settings.use_logo %}
            <a href="/">
              {{ 'logo.png' | asset_url | img_tag: shop.name }}
            </a>
          {% else %}
            <a href="/">{{ shop.name }}</a>
          {% endif %}
        </h1>
      </div>
      <div class="grid-item large--one-half text-center large--text-right">
        {% comment %}
          You cart/checkout link should at least show the number of items in it.
          Below shows the item count followed by item(s) and the total cart price.

          Ajaxify Cart Notes:
            - #cartToggle toggles cart visibility (drawer or modal)
            - #cartCount updates the total number of items in the cart
            - #cartCost updates the total cost of the cart
            - Documentation:  http://shopify.com/timber#ajax-cart
        {% endcomment %}
        <div class="grid--full">
          <div class="grid-item large--two-thirds">
            {% include 'search-bar' %}
          </div>
          <div class="grid-item large--one-third">
            <a href="/cart" id="cartToggle" class="cart">
              <i class="icon-cart"></i>
              Your Cart: <!-- -->
                <strong id="cartCount">
                  {{ cart.item_count }}
                </strong>
                {{ cart.item_count | pluralize: 'item', 'items' }}
                <!--
                <span id="cartCost">
                  {{ cart.total_price | money }}
                </span> -->
            </a>
          </div>
        </div>
      </div>
    </div>

  </div>
</header>
